# ─── Supabase ──────────────────────────────────────────────
# Ambil dari: https://supabase.com/dashboard/project/YOUR_PROJECT/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://jogqvffdjtjqdnflvubi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpvZ3F2ZmZkanRqcWRuZmx2dWJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzNDk0MDIsImV4cCI6MjA5MzkyNTQwMn0.e4MH2ZlCNoflQPBz-7qlFMKwvgLN4WcUlDip77AbWGQ
# Service role key — hanya untuk server-side (jangan expose ke client)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpvZ3F2ZmZkanRqcWRuZmx2dWJpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODM0OTQwMiwiZXhwIjoyMDkzOTI1NDAyfQ.h9qxQzfMTzCVKMoCuu-SB8omjaij9w_D9p1AD9pU3DM

# ─── App ───────────────────────────────────────────────────
NEXT_PUBLIC_APP_URL=http://localhost:3000
